#cabecera{
    background: sandybrown;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#titulo{
    background: sandybrown;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.disco{
    background: black;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: sandybrown;
    padding: 5px;
}

.descripcion{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: sandybrown;
    position: absolute;
    left: 500px;
    float: right;
    padding: 5px;
}

.boton1{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: sandybrown;
    position: absolute;
    right: 100px;
    top: 85px;
    padding: 5px;
}

.boton2{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: sandybrown;
    position: absolute;
    right: 100px;
    top: 649px;
    padding: 5px;
}


.img{
    float: left;
    position: absolute;
    background: lemonchiffon;
    margin: 1px;
}